# misc
/benchmark
/python3
/local

# .
Halite3_Offline_Windows.exe

# current
/current/*.zip
/current/*.log
/current/*.class
/current/hlt/*.class
/current/replays/*

# prev version
/v*/*.class
/v*/hlt/*.class
